.mainDiv {
    margin: auto;
    align-content: center;
    margin-top: 5%;
    width: 90%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.fractal {
    border: 2px solid white;
}
.fractal:hover {
    cursor: zoom-in;
}
.form {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    margin-bottom: 0;

    padding: 2em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;

    border-left: 1px;
    border-right: 2px;
    border-top: 2px;
    border-bottom: 2px;
    border-style: solid;
    border-color: white;
    width: 30%;
    min-width: 20em;
    max-width: 25em;
    background: black;
    align-content: space-between;
}
.iter {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    border-color: white;
    color: white;
    width: 100%;
    min-width: 100%;
}
.iter:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
.secondLabel {
    color: #6c757d;
}
.formHeader {
    margin: auto;
    text-align: center;
    margin-bottom: 2em;
}
.sbutton {
    margin-top: 1em;
    width: 100%;
}
.defButton {
    width: 100%;
    height: 2.5em;
    border: 1px solid rgb(255, 255, 255);
    background: white;
    color: black;
    transition: 0.2s;
}
.revButton {
    width: 100%;
    height: 2.5em;
    border: 1px solid rgb(255, 255, 255);
    background: black;
    color: white;
    transition: 0.2s;
}
.defButton:hover {
    color: white;
    background: black;
}
.revButton:hover {
    color: black;
    background: white;
}
.helpLink {
    color: #6c757d;
    text-decoration-color: #6c757d;
}
a.helpLink:hover {
    color: #6c757d;
    text-decoration: none;
}
.yakor {
    margin: auto;
    height: 50em;
}
.sloganDiv {
    margin: auto;
    width: 30em;
    text-align: justify;
}
.slogan {
    color: white;
    font-size: 3em;
}
.downSlogan {
    color: #6c757d;
    font-size: 1.5em;
}
.main2 {
    flex-wrap: wrap;
    margin: auto;
    display: flex;
    height: 90%;
    width: 80%;
    justify-content: space-around;
    align-content: center;
}
.chooseDiv {
    height: 25em;
    margin: auto;
    margin-bottom: 5em;
    display: flex;
    flex-wrap: wrap;
    width: 20em;
    padding-top: 3em;
    padding-bottom: 3em;
    align-content: space-around;
    justify-content: center;
    border: 1px solid white;
    position: relative;
    transition: 0.2s;
}
.chooseDiv:hover {
    transform: scale(1.05);
}
.chooseDiv img {
    margin: auto;
    border-radius: 100%;
    width: 50%;
}
.chooseDiv a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
