.mainDiv {
    margin-inline: auto;
    align-content: space-between;
    margin-top: 5%;
    width: 90%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.canvas {
    background: #9f9f9f;
    background-image: url("/sprites/importImage.jpg");
    border: 2px solid white;
}
#fractal:hover {
    cursor: zoom-in;
}
.canvas {
    margin-left: 0;
    margin-bottom: 3em;
}
.form {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    margin-bottom: 3em;

    padding: 2em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;

    border-left: 1px;
    border-right: 2px;
    border-top: 2px;
    border-bottom: 2px;
    border-style: solid;
    border-color: white;
    width: 30%;
    height: auto;
    min-width: 20em;
    max-width: 25em;
    background: black;
    align-content: space-between;
}
.iter {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    border-color: white;
    color: white;
    width: 100%;
}
.iter:focus {
    border: none;
    border-bottom: 1px solid grey;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
.secondLabel {
    color: #6c757d;
}
.formHeader {
    margin: auto;
    text-align: center;
    margin-bottom: 1em;
}
.sbutton {
    margin-top: 1em;
    width: 100%;
}
.defButton {
    width: 100%;
    height: 2.5em;
    text-align: center;
    padding: 0.375rem 0.75rem;
    border: 1px solid rgb(255, 255, 255);
    background: white;
    color: black;
    transition: 0.2s;
}
.revButton {
    width: 100%;
    height: 2.5em;
    text-align: center;
    padding: 0.375rem 0.75rem;
    border: 1px solid rgb(255, 255, 255);
    background: black;
    color: white;
    transition: 0.2s;
}
.defButton:hover {
    cursor: pointer;
    color: white;
    background: black;
}
.revButton:hover {
    cursor: pointer;
    color: black;
    background: white;
}
.defButton2 {
    width: 100%;
    height: 2.5em;
    text-align: center;
    padding: 0.375rem 0.75rem;
    border: 1px solid rgb(255, 255, 255);
    background: white;
    color: black;
    transition: 0.2s;
}
.revButton2 {
    width: 100%;
    height: 2.5em;
    text-align: center;
    padding: 0.375rem 0.75rem;
    border: 1px solid rgb(255, 255, 255);
    background: black;
    color: white;
    transition: 0.2s;
}
.defButton2:hover {
    cursor: pointer;
}
.revButton2:hover {
    background: hsl(0, 0%, 10%);
    color: white;
    cursor: pointer;
}
.helpLink {
    color: #6c757d;
    text-decoration-color: #6c757d;
}
a.helpLink:hover {
    color: #6c757d;
    text-decoration: none;
}
.yakor {
    margin: auto;
    height: 50em;
}
.sloganDiv {
    margin: auto;
    width: 30em;
    text-align: justify;
}
.slogan {
    color: white;
    font-size: 3em;
}
.downSlogan {
    color: #6c757d;
    font-size: 1.5em;
}
.main2 {
    flex-wrap: wrap;
    margin: auto;
    display: flex;
    height: 90%;
    width: 80%;
    justify-content: space-around;
    align-content: center;
}
.chooseDiv {
    height: 25em;
    margin: auto;
    margin-bottom: 5em;
    display: flex;
    flex-wrap: wrap;
    width: 20em;
    padding-top: 3em;
    padding-bottom: 3em;
    align-content: space-around;
    justify-content: center;
    border: 1px solid white;
    position: relative;
    transition: 0.2s;
}
.chooseDiv:hover {
    transform: scale(1.05);
}
.chooseDiv img {
    margin: auto;
    border-radius: 100%;
    width: 50%;
}
.chooseDiv a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.fileInput {
    text-align: center;
    background: none;
    border: none;
    border: 1px solid white;
    border-color: white;
    color: white;
    width: 100%;
}
.fileInput:hover {
    cursor: default;
}
.urlInput {
    background: none;
    border: none;
    border: 1px solid white;
    border-color: white;
    color: white;
    width: 100%;
    text-align: center;
}
input:focus {
    outline: none;
}
[type="radio"] {
    display: none;
}
.range {
    width: 88%;
    cursor: pointer;
    -webkit-appearance: none;
    height: 0.5em;
    background: rgb(255, 255, 255);
    border-radius: 0.5em;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background: #cfcfcf;

    box-shadow: 0 0 2px 0 rgb(0, 0, 0);
}
.rangeDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
body.inheritCursors * {
    cursor: inherit !important;
}
